#root {
  /* React root div */
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2 {
  text-align: center;
  color: #000 !important;
}

p {
  text-align: center;
}

footer {
  text-align: center;
}

a {
  text-decoration: none !important;
}

/* || PAGES */

.public,
.welcome {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.public {
  padding: 1em;
  flex-grow: 1;
}

.public-container {
  text-align: center;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* || BUTTONS */

.login-button {
  border: 1px solid black;
  border-radius: 10px;
  color: #000;
  padding: 10px;
}

.icon-button:hover,
.icon-button:focus-visible {
  transform: scale(1.2);
}

.signin-button {
  margin: 10px;
  padding: 15px 32px;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  background-color: blueviolet;
  border: none;
  border-radius: 10px;
}

.signin-button:hover {
  transform: scale(1.1);
}

.table-button {
  padding: 0.25em;
  font-size: 1.5rem;
}

.dash-footer_button {
  font-size: 1.1rem;
  width: auto;
  height: auto;
  border: none;
  background: none;
}

.dash-footer_button:last-child {
  padding-left: 1.5em;
}

.log-nav .log-header_button {
  border: none;
  background: none;
  font-size: 1.1rem;
}

.log-back .log-header_button {
  border: none;
  background: none;
  font-size: 1.5rem;
}

button.log-header_button.icon-button:last-child {
  padding-left: 1.5rem;
}

.add-workout_button {
  text-align: center;
}

.table_workouts .table-button {
  font-size: 1rem;
}

/* || LOG */

.log-header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #0000001e;
  border-bottom: 1px solid #000;
}

.log-header_container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.log-nav {
  position: fixed;
  width: 80px;
  left: calc(100% - 80px);
}

.log-back {
  position: fixed;
  width: auto;
  left: 0;
}

/* || DASH HEADER, CONTAINER & FOOTER */

.dash-header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #0000001e;
  padding: 0 0.5em;
  border-bottom: 1px solid #000;
}

.dash-header_container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
}

.dash-container {
  padding: 0.75em 0.5em 0.5em;
  flex-grow: 1;
}

.dash-container a:hover {
  font-size: 1.1rem;
}

.dash-link {
  border: 1px solid black;
  border-radius: 10px;
  color: #000;
  padding: 10px;
}

.dash-footer {
  font-size: 1rem;
  position: sticky;
  bottom: 0;
  z-index: 1;
  background-color: #0000001e;
  padding: 0.5em;
  border-top: 1px solid #000;
  gap: 1em;
}

.signin-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.today-container {
  display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/* User Grid */

.table_users > thead,
.table_users > tbody ,
.table_users tr  {
  display: contents;
}

.table_users {
  font-size: 1rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  gap: 0.1em;
}

.table-thead {
  position: sticky;
  top: 0;
  z-index: 1;
}

[class*="table-th-"], .table-cell {
  text-align: left;
  border: 1px solid;
  padding: 0.5em;
}

.table-cell:last-child {
  display: grid;
  place-content: center;
}

/* Workout Grid */

.table_workouts {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
  width: 100%;
  row-gap: 20px;  
  padding: 20px;
}

.table-row.workout {
  display: flex;
  flex-direction: column;
  border: 1px solid;
  border-radius: 10px;
}

.table_workouts td {
  border: none;
}

.table-cell tr {
  border: none;
}

.table-workout-name-row:first-child {
  font-size: large;
  font-weight: bold;
}

.table-exercises-row:first-child {
  font-size: large;
  font-weight: bold;
}

.table-workout-name-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}